<header>
	<%= render 'shared/topnav' %>
	<nav class=" cyan darken-5	 center">
		<div class="center flow-text">Nuevo horario para <%= @subject.name %> </div>
	</nav>	
</header>
<main>

<%= render 'form', event: @event , :subject => @subject%>
<div class="center">
	<%= link_to 'Back', root_path, :class => 'btn' %>
</div>
<br>
</main>

<footer class="page-footer  cyan darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
  
      </div>
    </div>
  </div>
  
</footer>   


